div.event-box-parent {
    width: calc(100% - 1rem);
    height: fit-content;
    padding: .5rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

div.event-box {
    width: 10rem;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}