div.event-box-parent {
    width: calc(100% - 1rem);
    height: fit-content;
    padding: .5rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

div.event-box {
    max-width: 10rem;
    padding: .5rem;

    height: 14rem;

    display: grid;
    align-items: center;
    justify-items: center;
    grid-auto-flow: row;

    box-shadow: 0px 0px 10px #CCCCCC;
    background-color: white;
}

div.event-box > h1, div.event-box > p {
    margin: 0;
}

div.event-box > h1 {
    font-size: 1.5rem;
}

div.event-box > p {
    font-size: 1.2rem;
}

div.event-box > button {
    display: grid;
    place-items: center;

    margin-top: 1.5rem;
    margin-bottom: .25rem;
    align-self: flex-end;

    width: calc(100% - .3rem);
    height: 2.5rem;

    font-size: 1.1rem;
    color: white;

    background: none;
    border: none;

    background-color: var(--main-color);
    border-radius: .5rem;
}
div.event-box.secondary-color > button {background-color: var(--secondary-color);}