div.event-box-parent {
    width: calc(100% - 1rem);
    height: fit-content;
    padding: .5rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

div.event-box {
    padding: .5rem;

    height: 14rem;

    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    align-items: center;
    justify-items: center;
    grid-auto-flow: row;

    box-shadow: 0px 0px .75rem #000;
    background-color: var(--white);
}

div.event-box > h1, div.event-box > p, div.event-box .details p {
    margin: 0;
}

div.event-box > h1 {
    font-size: 1.5rem;
}

div.event-box > p, div.event-box .details p {
    font-size: 1.2rem;
}

div.event-box .details {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: .25rem;
    justify-items: start;
    align-items: center;
}

div.event-box > button {
    display: grid;
    place-items: center;

    margin-top: 1.5rem;
    margin-bottom: .25rem;
    align-self: flex-end;

    width: calc(100% - .3rem);
    height: 2.5rem;

    font-size: 1.1rem;
    color: var(--white);

    background: none;
    border: none;

    border-radius: .5rem;
}

.event-box > .details {
    margin: .5rem 0;
    display: grid;
    grid-auto-flow: column;
    grid-gap: .5rem;
    font-size: .9rem;
}
    
.event-box > .details > p {
    margin: 0;
}

.event-box > button.registered {
    background-color: var(--secondary-color);
}

.event-box > button.not-registered {
    background-color: var(--main-color);
}