div.profile-frame {
    padding: .25rem;
}

div.profile-frame div.icon {
    width: 8rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--main-color);
}

div.profile-frame div.name-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    padding: 0 1rem;
}
div.profile-frame div.name-parent div.name {font-weight: bold;}