div.profile-frame {
    padding: .25rem;
}

div.profile-frame div.icon {
    width: 8rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--main-color);
}

div.profile-frame div.name-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    padding: 0 1rem;
}
div.profile-frame div.name-parent div.name {font-weight: bold;}

div.horizontal-list {
    display: flex;
    flex-direction: row;
    gap: .75rem;
    overflow-y: hidden;
    overflow-x: auto;
}

div.horizontal-list::-webkit-scrollbar {height: .5rem;}
div.horizontal-list::-webkit-scrollbar-track {background: #ccccccaa;}
div.horizontal-list::-webkit-scrollbar-thumb {border-radius: .5rem;}
div.horizontal-list.event-list::-webkit-scrollbar-thumb {background: var(--main-color);}
div.horizontal-list.event-list {background-color: var(--main-color);}
div.horizontal-list.team-list::-webkit-scrollbar-thumb {background: var(--secondary-color);}
div.horizontal-list.team-list {background-color: var(--secondary-color);}