:root {
  font-family: 'Montserrat', sans-serif;
  --main-color: #6C5CE7;
  --secondary-color: #B063C3;
  --white: whitesmoke;
}

.row {
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
  aspect-ratio: 2;
}

#root {
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100vw;
  height: 100vh;
}