div.calendar {
    width: calc(100% - 2.5rem);
    height: 50%;
    margin: .5rem;
    background-color: var(--main-color);
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.25rem;
    display: grid;
    place-items: center;
}

div.calendar tbody {align-items: center;}
div.calendar tr {justify-content: space-evenly;}